*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
.list {
    display: flex;
    flex-wrap: wrap;
    max-width: 1280px;
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    gap: 10px;
    justify-content: space-between;
}
.card {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    gap: 10px;
    border: 3px solid #e73333;
    border-radius: 9px;
    background: #fde910;
    min-height: 520px;
}
.turn {
    cursor: pointer;
}
.subtitle {
    color: #e73333;
    text-align: center;
}
.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
img {
    height: 256px;
    object-fit: cover;
}
.other-information {
    color: #ffffff;
    font-weight: 600;
}
.text-color {
    color: #e73333;
    font-weight: 600;
}
.rating {
    display: flex;
    justify-content: center;
    font-size: 40px;
}
.rating-body {
    position: relative;
}
.rating-body::before {
    content: "★★★★★";
    display: block;
    color: #766767;
}

.rating-active {
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}
.rating-active::before {
    content: "★★★★★";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #e73333;
}
.rating-items {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}
.rating-item {
    flex: 0 0 20%;
    height: 100%;
    width: 100%;
    cursor: pointer;
}